* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Start Section CSS */
.password_strengthen_area {
  width: 100%;
  height: 100vh;
}

.title {
  font-size: 2.5rem;
  margin: 50px 0px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.password_wrapper {
  position: relative;
  width: 400px;
  height: 600px;
  padding: 20px;
  background-color: #172447;
}

.password_input_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.strengthen {
  width: 20px;
  height: 100%;
  background-color: #ffffff;
  position: relative;
}
.strengthen::after {
  /* --strengthen-amount: 90; */
  content: "";
  position: absolute;
  width: 20px;
  height: calc(1% * var(--strengthen-amount, 0));
  bottom: 0;
  left: 0;
  background: #127681;
  transition: all 0.3s ease;
}

.password_input {
  width: 85%;
  height: 60px;
  margin-left: 20px;
  outline: none;
  border: none;
  font-size: 20px;
  padding: 15px;
}

.password_check {
  position: absolute;
  top: 120px;
  left: 70px;
  color: #ffffff;
}

.password_check p {
  margin-bottom: 10px;
}
