* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Start Section CSS */
.password_area {
   width: 100%;
   height: 100vh;
   background-color: rgb(85, 35, 194);

   display: flex;
   justify-content: center;
   color: #fff;
   font-size: 1.5rem;
   padding: 10vh 0;
}

.password_area h2 {
   font-size: 4rem;
   margin-bottom: 50px;
}

.password_display {
   background-color: #fff;
   color: #000;
   text-align: center;
   padding: 30px;
   margin-bottom: 50px;
   border-radius: 10px;
}

#password_form {
   display: grid;
   grid-template-columns: repeat(2, auto);
   grid-column-gap: 30px;
   grid-row-gap: 50px;
}

#number_char {
   padding: 5px 0;
   font-size: 20px;
   text-align: center;
}

#password_btn {
   grid-column: 1 / 3;
   padding: 20px;
   font-size: 20px;
   background-color: #f06;
   color: #fff;
   font-weight: bold;
   border-radius: 10px;
   cursor: pointer;
   margin: 25px 0;
}