* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

img {
   max-width: 100%;
   object-fit: cover;
}

ul li {
   list-style: none;
}
a {
   text-decoration: none;
}


/* Start Section CSS */
section {
   width: 100%;
   height: 100vh;
   display: grid;
   place-content: center;
}

.color {
   font-size: 50px;
}

.btn_switch {
   display: inline-block;
   background: #333;
   color: #fff;
   margin: 50px 120px;
   padding: 15px 17px;
   font-size: 20px;
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.3s ease;
}
.btn_switch:hover {
   background: #f00;
   border-color: transparent;
}